/* Import de la police */
@font-face {
    font-family: 'Brigast';
    src: url('fonts/Brigast-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oliver';
    src: url('https://nqemie.github.io/advent-cal/fonts/Oliver-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E8D5D5;  /* Rose pâle plus prononcé */
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.page-container {
    width: 1280px;
    height: 832px;
    background: #E8D5D5;
    position: relative;
    margin: 0 auto;
}

/* @nqemie - VERSION TEST */
.signature {
    position: absolute;
    width: 134px;
    height: 56px;
    left: 56.87px;
    top: 29.18px;
    
    font-family: Arial, sans-serif;  /* Police système pour tester */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    
    color: #925252;
    
    transform: rotate(-2.43deg);
    
    /* TEST : Ajoute un fond pour voir si l'élément existe */
    background: yellow;
}
