/* Import de la police */
@font-face {
    font-family: 'Brigast';
    src: url('fonts/Brigast-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EBDDDD;
    font-family: Arial, sans-serif;
}

.page-container {
    width: 1280px;
    height: 832px;
    background: #EBDDDD;
    position: relative;
    margin: 0 auto;
}
