/* Import des polices */
@font-face {
    font-family: 'Brigast';
    src: url('fonts/Brigast-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oliver';
    src: url('fonts/Oliver-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E8D5D5;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.page-container {
    width: 1280px;
    height: 832px;
    background: #E8D5D5;
    position: relative;
    margin: 0 auto;
}

/* @nqemie signature */
.signature {
    position: absolute;
    width: 134px;
    height: 56px;
    left: 56.87px;
    top: 29.18px;
    
    font-family: 'Oliver', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    
    color: #925252;
    
    transform: rotate(-2.43deg);
}

/* Titre principal */
.main-title {
    position: absolute;
    width: 561px;
    left: calc(50% - 561px/2 + 0.5px);
    top: 63px;
    
    font-family: 'Brigast', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    
    color: #502D2D;
}
